
<head>
  <title>Sign Up OTP</title>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
  <meta name='viewport' content='width=device-width' />
  <style>
    <style type="text/css">
      @media only screen and (max-width:590px) {
        .c1 {
          background-color: white !important;
        }
        .c3a, .c3b {
          width: 100% !important;
        }
      }
    </style>
  </style>
</head>
<body>
  <h4>We received a request to Register in instafusion</h4>
  <h4>Your token for registration is:</h4>
  <h4>Token: <b>{{token}}</b></h4>
  <p>Paste your OTP in the given field and register.</p>
</body>
</html>